* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url('Roboto-Light.ttf');
}
@font-face {
    font-family: raleway;
    src: url('Raleway-Medium.ttf');
}
@font-face{
    font-family:playwrite;
    src:url('PlaywriteVN-Regular.ttf');
}
nav{
    background-color:black;
    width:100%;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    padding:12px 20vh;
    justify-content:space-between;
}
.box-2-mobile{
    display:none;
}
.box-1{
    display:grid;
    justify-content:center;
    align-items:center;
}
.box-1 img{
width:130px;
height:40px;
}
.box-2{
    display:grid;
    grid-template-columns:auto auto auto auto auto;
    justify-content:center;
    align-items:center;
}
.box-2 a{
    text-decoration:none;
    color:white;
    padding:10px 20px;
    margin:0 10px;
    transition-duration:0.3s;
    border-radius:5px;
}
.box-2 a:hover{
    background-color:white;
    color:black;
    transition-duration:0.3s;
}
#bp-btn{
    background-color:white;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid white;
    color:black;
}
#bp-btn:hover{
    background-color:black;
    border:2px solid white;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    color:white;
}

.intro{
    background-image:url('jo.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:500px;
}
.black-shade{
    background:radial-gradient(circle, rgba(0,0,0,0.5), rgba(0,0,0,1.0));
    height:500px;
    display:grid;
    justify-content:center;
    align-items:center;
}

.black-shade div{
text-align:center;
color:white;
}
.black-shade div h1{
    font-size:60px;
}
.black-shade div h3{
font-size:23px;
margin:10px 0;
}
.black-shade div a{
    text-decoration:none;
    background-color:white;
    color:black;
    font-weight: bold;
    padding:10px 20px;
    box-shadow:0px 0px 10px 5px rgba(0,0,0,0.0);
    border-radius:20px;
    transition-duration: 0.2s;
}
.black-shade div a:hover{
    box-shadow:0px 0px 1px 2px rgba(250,250,250, 0.6);
    transition-duration: 0.2s;
}

.journey-content{
    padding:20px 10vh;
}

.why-aware{
    padding:20px 20px;
}
.why-aware h1{
    padding:10px 0;
    font-size:16vh;
}
.why-aware ul{
    margin:10px 30px;
}
.why-aware p{
    padding:10px 0;
    font-size:20px;
}


.set-goal{
    padding:20px 30px;
    background-color:#FF86C8;
    color:#1D1805;
    margin:10px;
    border-radius:20px;
}
.set-goal h1{
    padding:10px 0;
    font-size:8vh;
}
.set-goal ul{
    margin:10px 30px;
    line-height:22px;
}
.set-goal p{
    padding:10px 0;
}


.nutrition-plan{
    padding:20px 30px;
    background-color:#FFBF81;
    margin:10px;
    border-radius:20px;
    color:#540F4B;
}
.nutrition-plan h1{
    padding:10px 0;
    font-size:8vh;
}
.nutrition-plan ul{
    margin:10px 30px;
    line-height:22px;
}
.nutrition-plan h2{
    padding:10px 0;
}
.nutrition-plan p{
    padding:10px 0;
}

.container-two-box{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    margin:3vh 10px;
}


.Workout{
    padding:20px 20px;
}
.Workout ul{
    margin:10px 30px;
    line-height:30px;
    width:400px;
}
.Workout h1{
    padding:10px 0;
    font-size:16vh;
}
.Workout h2{
    padding:10px 0;
}
.Workout p{
    padding:10px 0;
}

.sub-container-workout{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    padding:0px;
    margin:20px 0px;
    background-color:lightgray;
    border-radius:20px;
}
.sub-container-workout div{
    padding:30px;
}

#workoutimg{
    background-image:url(workoutimage.jpg);
    background-position:center;
    background-size:cover;
    width:500px;
    height:350px;
border-radius:20px;
}


.tracking{
    padding:20px 20px;
}
.tracking ul{
    margin:10px 30px;
    line-height:25px;
}
.tracking h1{
    padding:10px 0;
    font-size:16vh;
}
.tracking h2{
    padding:10px 0;
}
.tracking    p{
    padding:10px 0;
}

.tracking   a{
    text-decoration:none;
    background-color:black;
    padding:10px 20px;
    color:white;
    border-radius:20px;
        }

.track-container{
    background-color:lightgray;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    padding:25px;
    margin:20px 0px;
    border-radius:20px;
}
.track-img img{
    width:500px;
    height:380px;
    border-radius:20px;
}

        
        .form{
            padding:20vh 20vh;
            width:100%;
            background-color:black;
            color:white;
            }
            .form-content h1{
                font-family:playwrite;
                margin:30px 0px;
            }
            .form-content p{
                margin:20px 0;
            }
            form{
                display:grid;
                background-color:black;
            }
            form input{
            padding:15px 20px;
            margin:10px;
            width:100%;
            outline:none;
            background-color:rgb(40,40,40);
            color:white;
            border:none;
            border-radius:5px;
            }
            form select{
                padding:15px 20px;
            margin:10px;
            width:100%;
            background-color:rgb(40,40,40);
            color:white;
            border-radius:5px;
            border:none;
            }
            form label{
            display:block;
            margin:10px;
            }
            #sub{
                background-color:orangered;
            }
            

footer, .copyright{
    background-color:black;
    color:white;
    padding:20px 20vh;
}
footer{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    justify-content:space-between;
}
.f-box-2{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    justify-content:space-between;
align-items:center;
}
.child-f-box-2{
    margin:0 30px;
}
.child-f-box-2 h2{
display:block;
text-align:center;
}
.child-f-box-2 a{
    display:block;
    text-decoration:none;
    color:white;
    padding:10px 20px;
 text-align:center;
margin:30px 0;
transition-duration:0.3s;
}
.child-f-box-2 a:hover{
    background-color:white;
    color:black;
    transition-duration:0.3s;
}

.f-box-1 img{
    width:440px;
    height:420px;
}
.copyright{
    text-align:center;
    padding:20px;
}
