* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
@font-face {
    font-family: roboto;
    src: url('Roboto-Light.ttf');
}
@font-face {
    font-family: raleway;
    src: url('Raleway-Medium.ttf');
}
@font-face{
    font-family:playwrite;
    src:url('PlaywriteVN-Regular.ttf');
}
nav{
    background-color:black;
    width:100%;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    padding:12px 20vh;
    justify-content:space-between;
}
.box-2-mobile{
    display:none;
}
.box-1{
    display:grid;
    justify-content:center;
    align-items:center;
}
.box-1 img{
width:130px;
height:40px;
}
.box-2{
    display:grid;
    grid-template-columns:auto auto auto auto auto;
    justify-content:center;
    align-items:center;
}
.box-2 a{
    text-decoration:none;
    color:white;
    padding:10px 20px;
    margin:0 10px;
    transition-duration:0.3s;
    border-radius:5px;
}
.box-2 a:hover{
    background-color:white;
    color:black;
    transition-duration:0.3s;
}
#bp-btn{
    background-color:white;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    border:2px solid white;
    color:black;
}
#bp-btn:hover{
    background-color:black;
    border:2px solid white;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    color:white;
}

.intro{
    background-image:url('jo.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:500px;
}
.black-shade{
    background:radial-gradient(circle, rgba(0,0,0,0.5), rgba(0,0,0,1.0));
    height:500px;
    display:grid;
    justify-content:center;
    align-items:center;
}

.black-shade div{
text-align:center;
color:white;
}
.black-shade div h1{
    font-size:60px;
}
.black-shade div h3{
font-size:23px;
margin:10px 0;
}
.black-shade div a{
    text-decoration:none;
    background-color:white;
    color:black;
    font-weight: bold;
    padding:10px 20px;
    box-shadow:0px 0px 10px 5px rgba(0,0,0,0.0);
    border-radius:20px;
    transition-duration: 0.2s;
}
.black-shade div a:hover{
    box-shadow:0px 0px 1px 2px rgba(250,250,250, 0.6);
    transition-duration: 0.2s;
}

.journey-content{
    padding:20px 20vh;
}

.why-aware{
    padding:20px 20px;
}
.why-aware h1{
    padding:10px 0;
}
.why-aware ul{
    margin:10px 30px;
}
.why-aware p{
    padding:10px 0;
}


.set-goal{
    padding:20px 20px;
}
.set-goal h1{
    padding:10px 0;
}
.set-goal ul{
    margin:10px 30px;
}
.set-goal p{
    padding:10px 0;
}



.nutrition-plan{
    padding:20px 20px;
}
.nutrition-plan h1{
    padding:10px 0;
}
.nutrition-plan ul{
    margin:10px 30px;
}
.nutrition-plan h2{
    padding:10px 0;
}
.nutrition-plan p{
    padding:10px 0;
}

.Workout{
    padding:20px 20px;
}
.Workout ul{
    margin:10px 30px;
}
.Workout h1{
    padding:10px 0;
}
.Workout h2{
    padding:10px 0;
}
.Workout p{
    padding:10px 0;
}

.tracking{
    padding:20px 20px;
}
.tracking ul{
    margin:10px 30px;
}
.tracking h1{
    padding:10px 0;
}
.tracking h2{
    padding:10px 0;
}
.tracking    p{
    padding:10px 0;
}



footer, .copyright{
    background-color:black;
    color:white;
    padding:20px 20vh;
}
footer{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    justify-content:space-between;
}
.f-box-2{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto;
    justify-content:space-between;
align-items:center;
}
.child-f-box-2{
    margin:0 30px;
}
.child-f-box-2 h2{
display:block;
text-align:center;
}
.child-f-box-2 a{
    display:block;
    text-decoration:none;
    color:white;
    padding:10px 20px;
 text-align:center;
margin:30px 0;
transition-duration:0.3s;
}
.child-f-box-2 a:hover{
    background-color:white;
    color:black;
    transition-duration:0.3s;
}

.f-box-1 img{
    width:440px;
    height:420px;
}
.copyright{
    text-align:center;
    padding:20px;
}