* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mukta;
}

@font-face {
  src: url(Mukta-Regular.ttf);
  font-family: mukta;
}

h1 {
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.two {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0; 
  padding-bottom: 70px;
}

#inp {
  padding: 10px;
  display: grid;
  background-color: white;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; 
}

.container {
  padding: 20px 30px;
  height: 100%;
  display: grid;
  overflow-y: auto;
}

#div1 {
  font-weight: bold;
  padding: 5px 0px;
  margin: 5px 0px;
  font-size: 3vh;
  display: inline-block;
}

#div2 {
  background-color: black;
  padding: 1px;
  margin: 5px 0px;
}

#head2 {
  margin: 10px 0px;
}

#head3 {
  margin: 10px 20px;
}

#para2 {
  margin: 10px 5vh;
}

.input-1 {
  padding: 10px 20px;
  width: 400px; 
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.but-1 {
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media only screen and (max-width:480px){
  h1 {
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align:center;
    background-color:white;
  }
  .box-hid{
    padding:30px;
    border:1px solid black;
  }
  #inp {
    padding: 10px;
    display: grid;
    background-color: white;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; 
  }

.input-1 {
  padding: 10px 20px;
  width: 290px; 
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.but-1 {
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
}