*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:mukta;
}
@font-face{
    src:url('Mukta-Regular.ttf');
    font-family:mukta;
}
@font-face{
    src:url('RobotoCondensed-Medium.ttf');
    font-family:robotoCon;
}
@font-face{
    src:url('RobotoCondensed-Light.ttf');
    font-family:robotoLight;
}
@font-face{
    src:url('OpenSans-Medium.ttf');
    font-family:OpenSans;
}
body{
    background-color:#fafafa;
}
/*--header-section--*/
.header-box{
    position:fixed;
    width:100%;
    display:grid;
    justify-content:center;
    align-items:center;
    z-index:1000;
}
.header{
    display:grid;
    grid-template-columns:auto auto auto;
    background-color:transparent;
    transition:background-color 0.3s ease;
    justify-content: space-between;
    margin:10px 0px;
    padding:0;
    width:1200px;
    border-radius:30px;
}
.scrolled{
    background-color:#a1baff;
}
.scrolled #nav-button{
    color:#0f4472;
}
.scrolled #nav-button:hover{
    background-color:#0f4472;
    color:#a1baff;
}
#web-name, #nav, #action-button{
    padding:0;
}
#web-name{
    display:flex;
    justify-content:center;
    align-items:cnter;
}
#logo-edit{
    height:30px;
    width:110px;
}   
#logo-link{
    padding:5px 15px;
    border-radius:30px;
}
#nav{
    display:grid;
    grid-template-columns:auto;
    align-items:center;
    justify-content:center;
}
#button-box{
    display:grid;
    grid-template-columns:auto auto auto auto;
    justify-content:center;
    align-items:center;
    padding:5px;
    text-align:center;
}
#nav-button{
    text-decoration:none;
    color:#0f4472;
    font-size:2.3vh;
    padding:5px 20px;
    border-radius:7px;
    font-family:robotoCon;
    margin:0px 15px;
    transition-duration:0.2s;
}
#nav-button:hover{
    background-color:#0f4472;
    color:#87ceeb;
    transition-duration:0.2s;
}
#action-button{
    display:grid;
    grid-template-columns:auto auto;
    justify-content:center;
    align-items:center;
}
#CTA-button{
    text-decoration:none;
    color:#a1baff;
    background-color:#0f4472;
    padding:6px 20px;
    font-size:2.6vh;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    transition-duration:0.4s;
}
#CTA-button:hover{
    background-color:#14538a;
    color:#a1baff;
    font-weight:bold;
}
#CTA-button-2{
    text-decoration:none;
    color:#a1baff;
    background-color:#0f4472;
    padding:6px 20px;
    font-size:2.6vh;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    transition-duration:0.4s;
    display:grid;
    justify-content:center;
    align-items:center;
}
#CTA-button-2:hover{
    background-color:#14538a;
    color:#a1baff;
    font-weight:bold;
}
/*--hero-section-*/
.hero{
   background-image:url('wall.png');
   background-size:cover;
    height:700px;
    display:grid;
    align-items:end;
    padding:0px 14vh;
}
#sub-hero{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    gap:10px;
}
#sub-box-1{
    display:grid;
    justify-content:center;
    align-items:end;
}
#img-1{
    height:600px;
}
#sub-box-2{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    align-items:center;
    justify-content:end;
}
#container{
    width:700px;
}
#tagline{
    font-family:robotoCon;
    color:#0f4472;
    font-size:60px;
    letter-spacing:-2px;
    line-height:55px;
    margin-bottom:5px;
}
#shortDescribe{
    font-family:robotoLight;
    font-weight:bold;
    color:#0f4472;
    font-size:23px;
}
#sub-container{
    display:grid;
    justify-content:end;
    align-items:center;
    margin-top:20px;
}
#booking{
color:#a1baff;
background-color:#0f4472;
text-decoration:none;
font-weight:bold;
border-radius:5px;
font-size:22px;
margin:0px 35px;
font-family:robotoCon;
padding:12px 25px;
transition-duration:0.3s;
}
#booking:hover{
transition-duration:0.3s;
background-color:#a1baff;
color:#0f4472;
}
/*---service-section---*/
.service{
    background-image:url('wall2.png');
    background-size:cover;
    padding:0px 14vh;
    padding-top:20vh;
}
#service-again-box-1{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
}
#box-1-service-container-1{
    display:grid;
    justify-content:start;
    align-items:center;
    padding:5px;
}
#service-head{
    font-family:OpenSans;
    font-size:16px;
    font-weight:normal;
    background-color:#a1baff;
    color:#0f4472;
    padding:10px 20px;
    border-radius:30px;
}
#service-para{
    font-family:robotoCon;
    font-size:26px;
    margin:10px 0px;
    font-weight:normal;
}
#box-1-service-container-2{
    display:grid;
    justify-content:end;
    align-items:center;
}
#service-link{
    background-color:#a1baff;
    text-decoration:none;
    color:#0f4472;
    font-family:robotoCon;
    padding:10px 20px;
    font-size:17px;
    border-radius:9px;
    font-weight:normal;
    transition-duration:0.3s;
}
#service-link:hover{
    background-color:#0f4472;
    color:#a1baff;
    transition-duration:0.3s;
}
#arrow-icon-service{
    font-weight:normal;
    margin-left:10px;
}
#box-para-service{
    display:grid;
    align-items:center;
    padding:5px;
    margin:10px;
}
#box-para-service p{
    line-height:21px;
}
#box-1-service{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto auto auto;
}
#box-2-service{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    gap:50px;
}
#service-img{
    border-radius:12px;
}
#sub-box-2-service-1{
    display:grid;
    justify-content:start;
    align-items:center;
}
#sub-box-2-service-2{
    display:grid;
    align-items:center;
}
#child-box-container-service-2-1{
    background-color:#e4e7e9;
    padding:10px;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    border-radius:10px;
}
#service-img-2{
    width:64px; 
    height:64px;
    padding:10px;
    background-color:#a1baff;
    border-radius:100px;
}
#child-box-container-service-2-1-1{
    display:grid;
    justify-content:center;
    align-items:center;
    padding:10px;
}
#child-box-container-service-2-1-2{
    display:grid;
    align-items:center;
    padding:10px 20px;
}
#child-service-head{
    font-family:OpenSans;
}
#child-service-para{
    font-size:15px;
    margin-top:5px;
    font-family:OpenSans;
}
#child-box-container-service-2-2{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    margin-top:30px;
    gap:50px;
}
#small-box-service-1{
    border-radius:10px;
    background-color:#e4e7e9;
    padding:15px;
}
#service-img-3{
    float:left;
    width:54px; 
    height:54px;
    margin-left:10px;
    margin-right:20px;
    padding:10px;
    border-radius:100px;
    background-color:#a1baff;
}
#small-box-service-1 h2{
    font-family:OpenSans;
}
#small-box-service-1 p{
    padding:5px;
    font-size:15px;
    font-family:OpenSans;
    line-height:25px;
}
/*------------------------about---------us--*/
.about-section{
    background-image:url('wall3.png');
    background-size:cover;
    padding:0px 14vh;
    padding-top:20vh;
}
#about-section-box{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
}
#about-container-1{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto auto;
}
#sub-about-container-1-1{
    display:grid;
    justify-content:start;
    align-items:center;
}
#about-head{
    font-family:OpenSans;
    font-size:16px;
    font-weight:normal;
    background-color:#a1baff;
    color:#0f4472;
    padding:10px 20px;
    border-radius:30px;
}
#sub-about-container-1-2{
    display:grid;
    align-items:center;
}
#sub-about-container-1-2 h1{
    font-family:OpenSans;
    font-weight:bold;
    font-size:55px;
    margin-top:5px;
    line-height:7.5vh;
}
#sub-about-container-1-2 p{
    font-family:OpenSans;
}
#about-container-2{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto;
    justify-content:center;
    align-items:center;
}
#about-img{
    width:670px;
    height:483px;
}
/*-----mobile-----*/
@media only screen and (max-width:480px){

}